In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
betting_moneyline_df = pd.read_csv("nba_betting_money_line.csv")
betting_moneyline_df.head()

    game_id        book_name  book_id     team_id   a_team_id  price1  price2
0  41100314  Pinnacle Sports      238  1610612759  1610612760   165.0  -183.0
1  41100314           5Dimes       19  1610612759  1610612760   165.0  -175.0
2  41100314        Bookmaker       93  1610612759  1610612760   160.0  -190.0
3  41100314        BetOnline     1096  1610612759  1610612760   165.0  -190.0
4  41100314           Bovada   999996  1610612759  1610612760   155.0  -175.0

In [3]:
games_all_df = pd.read_csv("nba_games_all.csv")
games_all_df.head()

    game_id   game_date      matchup  ...  season_year     season_type   season
0  20800741  2009-02-06  SAC vs. UTA  ...         2008  Regular Season  2008-09
1  20800701  2009-01-31  POR vs. UTA  ...         2008  Regular Season  2008-09
2  20800584  2009-01-16  MEM vs. UTA  ...         2008  Regular Season  2008-09
3  20800558  2009-01-12    IND @ UTA  ...         2008  Regular Season  2008-09
4  20800440  2008-12-27  HOU vs. UTA  ...         2008  Regular Season  2008-09

[5 rows x 32 columns]

In [4]:
betting_spread_df = pd.read_csv("nba_betting_spread.csv")
betting_spread_df.head()

    game_id        book_name  book_id  ...  spread2  price1  price2
0  21000358  Pinnacle Sports      238  ...     -7.5  -106.0  -104.0
1  21000358           5Dimes       19  ...     -7.5  -110.0  -110.0
2  21000358        Bookmaker       93  ...     -7.5  -110.0  -110.0
3  21000358        BetOnline     1096  ...     -7.5  -110.0  -110.0
4  21000358           Bovada   999996  ...     -8.0  -115.0  -105.0

[5 rows x 9 columns]

In [6]:
teams_df = pd.read_csv("nba_teams_all.csv")
teams_df.head()

   league_id     team_id  min_year  max_year abbreviation
0          0  1610612737    1949.0    2018.0          ATL
1          0  1610612738    1946.0    2018.0          BOS
2          0  1610612739    1970.0    2018.0          CLE
3          0  1610612740    2002.0    2018.0          NOP
4          0  1610612741    1966.0    2018.0          CHI

In [13]:
def get_home_team(row):
  matchup = row['matchup']
  if '@' in matchup:
    at_index = matchup.index('@')
    return matchup[at_index+1:]
  else:
    vs_index = matchup.index('vs.')
    return matchup[:vs_index]

def get_away_team(row):
  matchup = row['matchup']
  if '@' in matchup:
    at_index = matchup.index('@')
    return matchup[:at_index]
  else:
    vs_index = matchup.index('vs.')
    return matchup[vs_index+4:]

def get_winner(row):
  if row['is_home'] == 'f':
    if row['wl'] == 'W':
      return row['away_team']
    else:
      return row['home_team']
  else:
    if row['wl'] == 'W':
      return row['home_team']
    else:
      return row['away_team']

games_all_df['home_team'] = games_all_df.apply(lambda row: get_home_team(row), axis=1)
games_all_df['away_team'] = games_all_df.apply(lambda row: get_away_team(row), axis=1)
games_all_df['winner'] = games_all_df.apply(lambda row: get_winner(row), axis=1)


games_all_df.head()

    game_id   game_date      matchup  ...  home_team away_team winner
0  20800741  2009-02-06  SAC vs. UTA  ...       SAC        UTA    UTA
1  20800701  2009-01-31  POR vs. UTA  ...       POR        UTA   POR
2  20800584  2009-01-16  MEM vs. UTA  ...       MEM        UTA    UTA
3  20800558  2009-01-12    IND @ UTA  ...        UTA      IND     UTA
4  20800440  2008-12-27  HOU vs. UTA  ...       HOU        UTA   HOU

[5 rows x 35 columns]

In [16]:
moneyline_games_merge = pd.merge(left=betting_moneyline_df, right=games_all_df, left_on='game_id', right_on='game_id')
moneyline_games_merge.drop(columns=['game_id', 'book_id', 'team_id_x', 'a_team_id_x', 'matchup', 'team_id_y', 'wl', 'w', 'l', 'w_pct', 'min', 'a_team_id_y'])
moneyline_games_merge.head()

    game_id        book_name  book_id  ...  home_team  away_team  winner
0  41100314  Pinnacle Sports      238  ...        OKC       SAS      OKC
1  41100314  Pinnacle Sports      238  ...       OKC         SAS    OKC
2  41100314           5Dimes       19  ...        OKC       SAS      OKC
3  41100314           5Dimes       19  ...       OKC         SAS    OKC
4  41100314        Bookmaker       93  ...        OKC       SAS      OKC

[5 rows x 41 columns]

In [ ]:
high_bets = moneyline_games_merge[moneyline_games_merge['price1'] >= 1000]
high_bets.value_counts('book_name')

#sns.scatterplot(data=high_bets, x='price1', y='price2', hue='book_name')

book_name
5Dimes             1272
Pinnacle Sports    1212
Bookmaker          1006
JustBet             876
Heritage            622
Sportsbetting       458
BetOnline           458
YouWager            340
Intertops           332
Bovada               56
dtype: int64